html{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    background-color: lightsalmon;
}

.informacion{
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightslategray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.creacion{
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightslategray;
    text-align: justify;
}

.localizaciones {
    text-decoration: none;
}

.localizaciones:hover{
    text-decoration: underline;
}

.juegos1{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    background-image: linear-gradient(to right, gold, silver);
}

table{
    margin: 0 auto;
}

td, th{
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    background-color: lightslategray;
}

.nivel{
    width: 500px;
}
.mo{
    width: 500px;
}
.mt{
    width: 500px;
}

.juegos2{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    background-color: skyblue;
}

.nivel2{
    width: 500px;
}
.mo2{
    width: 500px;
}
.mt2{
    width: 500px;
}